<footer class="footer">
  <div class="container">
      <p>Made with <i class="fa fa-heart-o love" aria-hidden="true"></i> by Liana & Bader</p>
  </div>
</footer>

    <script type="text/javascript" src="/components/timeago-simple/dist/timeago.js"></script>
    <script type="text/javascript" src="/components//jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/components//bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- smooth scroll -->
    <script type="text/javascript" src="/js/smoothscroll.js"></script>
    <!-- tokienfield js stuff -->
    <script type="text/javascript" src="/components/bootstrap-tokenfield/docs-assets/js/bootstrap-tokenfield.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap-tokenfield/docs-assets/js/typeahead.bundle.min.js"></script>
    <!-- autocomplete data -->
    <script type="text/javascript" src="/components/bootstrap-tokenfield/docs-assets/js/docs.js" charset="UTF-8"></script>
</body>
</html>