    <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- smooth scroll -->
    <script type="text/javascript" src="/js/smoothscroll.js"></script>
    <!-- tokienfield js stuff -->
    <script type="text/javascript" src="/js/bootstrap-tokenfield.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/typeahead.bundle.min.js" charset="UTF-8"></script>
    <!-- autocomplete data -->
    <script type="text/javascript" src="/js/docs.js" charset="UTF-8"></script>
</body>
</html>